
<h1>Project</h1>
<%= form_with model: project, local: true do |form| %>
  <label for="title">Project Title</label>
  <%= form.text_field :title, class: 'form-control', placeholder: 'Project Title' %>
  <label for="description">Project Description</label>
  <%= form.text_area :description, class: 'form-control' %>
  <%= form.collection_select :users, user.where.not(:usertype => 'Manager'), :id, :name, {selected: @project.assigned_user.ids}, {multiple: true} %>
  <%= form.submit %>
<% end %>
