<div class = "container">
<h1>Projects</h1>

<% @projects.each do |project| %>
    <div class = "card border-secondary">
      <div class="card-header">
        <%= link_to project.title, project_path(project) %>
        <% if policy(project).delete? %>
          <button >
          <%= link_to project, method: :delete, data: {confirm: "Are you sure you want to delete this Project?"} do %>
          Delete
          <% end %>
          </button>
       <% end %>

        <% if policy(project).edit? %>
          <button >
          <%= link_to edit_project_path(project) do %>
            Edit
          <% end %>
          </button>
        <% end %>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text"><%= project.description %></p>
        </li>
        <li class="list-group-item">
          <i class="far fa-clock pr-1"></i><b>Started : </b><%= project.created_at.to_date %>
        </li>
        <li class="list-group-item">
          <div class="white-text"><i class="fa fa-bug pr-1"></i> <b>Bugs: </b> <%= project.bugs.count %></div>
        </li>
        <li class="list-group-item">
          <div class="white-text"><i class="fa fa-user pr-1"> <b>Assigned Users: </b>  <%= project.assigned_user.count %> </i></div>
        </li>
      </ul>
  </div>
  <br/>
<% end %>


<br/>
<% if policy(Project).new? %>
  <a class = "btn btn-secondary" href="<%= new_project_path %>">Create new Project</a>
<% end %>
<br/>
<br/>

<button>
<%= link_to 'Back', root_path %>
</button>



</div>







