<h2>Bug</h2>

<%= form_with(model: [@project, @bug], local: true, class: 'text-center') do |form| %>


  <% if @bug.errors.any? %>
    <ul>
    <% @bug.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= form.text_field :title, placeholder: 'Bug/Feature Title' %>

  <div class="field">
    <%= form.label :bugtype %><br>
    <%= form.select :bugtype, ['Bug', 'Feature'], selected: 'Bug' %>
  </div>


  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, ['New', 'Started' , 'Resolved'], selected: 'new' %>
  </div>

  <% if !(params[:action] == 'edit') %>
  <div>
    <%= form.label :deadline %><br>
    <%= form.date_select :deadline %>
  </div>
  <% end %>

  <div >
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div >
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <br>
    <br>
  </div>

   <%= form.submit "Submit" %>

<% end %>

<%= link_to 'Back', project_bugs_path %>
